.Title{
	font-family:"Arial Black";
	font-size: 2em;	
	width: 220px;
	display: block;
	float:left;
}

.cartBtn{
	width:55px;
	height:40px;
	border:none;
	display:block;
	float:left;
	background-color: transparent;
	background-position:center bottom;
	background-image: url("../images/cart.png");
	background-repeat: no-repeat;
	text-align:center;
	color:rgb(220,85,30);
}

.cartBtn:hover{
	background-color: rgb(247,194,5);
}

.cartSpan{
	position:absolute;
	display:block;
	top:0;
	
}

.backBtn{
	width:48px;
	height:48px;
	border:none;
	display:none;
	float:left;
	background-color: transparent;
	background-position:center center;
	background-image: url("../images/back.png");
	background-repeat: no-repeat;
	text-align:center;
	color:rgb(220,85,30);
}