.heading2{
	font-family:"Arial Black";
	font-size: 1em;
}

.shopSub{
	font-family:"Arial Black";
	font-size: 1.5em;	
	display: block;
	float:left;
	margin-top:20px;
	border-top:2px solid #E6E6E6;
	width:100%;
}

.MainMenuButton{
  width:120px;
  height:150px;
  display:block;
  margin:5px 5px 5px 5px;
  position:relative;
  float:left;
  background-repeat:no-repeat;
  background-position: 50% 70%;
  text-align:center;
  background-color:transparent;
  border:none;
}

.MainMenuButton:hover{
	background-color:rgb(247,194,5);
}

.FotoAereaImage{
	background-image: url("../../images/aerea.PNG");	
}

.CartoImage{
	background-image: url("../../images/catast.PNG");	
}

.buttonSpanMainMenu{
	position:absolute;
	display:block;
	top:0;
	left:0;
}

.positioning{
	margin-top:150px;
	width:260px;
	max-height:350px;
	display:none;
}


/*FotosAereas*/

.claro .dijitTextBox{
	height:2.3em !important;
}

.claro .dijitComboBox .dijitButtonNode {
	padding: 5px 5px 5px 2px !important;
}

.subTitle{
	font-family:"Arial Black";
	font-size: 1.5em;	
}

.checkboxLabel {
	display: block; 
	width:100%;
	margin-top:20px;
}

.mainButtonStyle{
    margin-top: 20px;
    border: none;
    background-color: rgb(56,172,94);
    color: white;
    height: 2em;
    width: 120px;
}

/*Carto Oficiales*/

.subTitleCarto{
	font-family:"Arial Black";
	font-size: 1.5em;	
}

.checkboxLabelCarto {
	display: block; 
	width:100%;
	margin-top:10px;
	width:150px;
}

.mainButtonStyleCarto{
    margin-top: 10px;
    border: none;
    background-color: rgb(56,172,94);
    color: white;
    height: 2em;
    width: 120px;
    margin-bottom:10px;
}

.Drawbtn{
	margin-top: 10px;
	border:none;
	background-color:transparent;
	margin:5px 5px 5px 5px;
	height:32px;
	width:32px;
	background-repeat: no-repeat;
	background-position: center center;
}
.PointImg{
	background-image: url("../../images/DrawImg/DrawPoint.png");	
}
.LineImg{
	background-image: url("../../images/DrawImg/DrawPolyline.png");	
}
.SquareImg{
	background-image: url("../../images/DrawImg/DrawRectangle.png");	
}
.RemoveImg{
	background-image: url("../../images/DrawImg/Drawremove.png");	
}
